<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form #logInForm = "ngForm" (ngSubmit)="logIn(logInForm)">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"  ngModel name = "email" required email #email="ngModel"></ion-input>
    </ion-item>
    <span *ngIf="email.invalid && email.touched">
      <ion-text color="danger">Email is not valid.</ion-text>
    </span>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required ngModel name = "password" #password="ngModel"></ion-input>
    </ion-item>
    <span *ngIf="password.invalid && password.touched">
      <ion-text color="danger"> Password is required.</ion-text>
    </span>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="linear-gradient(45deg, #c8dddb, #c071e8)" expand="block">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

